.item {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
  align-items: center;
  flex-direction: row;
  display: flex;
}
.file {
  margin-top: 20px;
}
.forkBox {
  flex-direction: column;
  display: flex;
  margin-left: 20px;
}
.filesBox {
  display: flex;
  flex-direction: column;
}
.fork {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}
.language {
  background-color: green;
  color: white;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10px;
}
